.footer {
    display: grid;
    grid-template-columns: 250px 350px 300px 300px;
    background-color: rgb(173, 173, 173);
    padding: 75px 0 0 350px;
    color: #4a5f58;
    text-align: center;
}
.footer li {
    list-style: none;
    padding: 5px;
}
.footer ul {
    margin-left: 0;
}