.form-background{
    background-color: #4a5f58;
    padding: 100px 0;
}
.form {
    height: 510px;
    background-color: rgba(255, 255, 255, 0.534 );
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
}
.pic {
    border-radius: 50px;
    width: 30%;
    height: 80%;
    padding: 50px;
}
.header {
    padding: 50px 10px;
}
 h1.header {
    color: yellow;
    font-size: 40px;
}
 h2.header {
    color: #4a5f58;
    font-size: 22px;
    align-content: center;
}
.form-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
}
.form-group {
    font-size: 16px;
    font-weight: 700;
}
.form-group input {
    width: 90%;
    height: 30px;
    border-radius: 10px;

}
.form-group select {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    align-items: center;
}
.formbtn {
    width: 250px;
    height: 40px;
    background-color: yellow;
    color: #4a5f58;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
#select {
    margin:30px 30px 0 0;
}
.formbtn button:disabled {
    opacity: 0.35;
}
input.input-error,select.input-error {
    border-color: #fc8181;
}
@media (max-width:1255px) {
    .pic {
        display: none;
    }
    .form-class {
        width: 90%;
        margin: 0 auto;
    }
    h1.header {
        font-size: 30px;
    }
    h2.header {
        color: #4a5f58;
        font-size: 18px;
    }
}
@media (max-width:638px) {
    .form-class {
        grid-template-columns: 1fr;
    }
    .header{
        padding: 0;
    }
    .formbtn {
        width: 80%;
        margin: 0 auto;
    }
}