.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    width: 400px;
    height: 120px;
    margin: 10px 50px;
    padding-right: 150px;
}
.links li {
    list-style: none;
}
.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    list-style: none;
    border-radius: 15px;
    cursor: pointer;
}
.links a:hover {
    background-color: yellow;
}
.navbar ul {
    display: flex;
    gap: 20px;
}
.links a {
    text-decoration: none;
    color: #4a5f58;
    font-size: 18px;
    font-weight: 700;
    width: 130px;
    height: 40px;
}
.links {
    height: 40px;
}
