.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    width: 400px;
    height: 120px;
    margin: 10px 50px;
    padding-right: 150px;
}
.links li {
    list-style: none;
}
.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    list-style: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #4a5f58;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
}
.links a:hover {
    background-color: yellow;
}
.navbar ul {
    display: flex;
    gap: 20px;
}
.links {
    height: 40px;
}


@media (max-width: 1620px){
    .logo {
        padding-right: 75px;
        height: 100px;
        width: 300px;
        margin: 10px 0 10px 50px;
    }
    .links a {
        font-size: 16px;
    }
    .navbar ul {
        gap: 0px;
    }
}
@media (max-width: 1275px){
    .logo {
        padding-right: 40px;
        height: 75px;
        width: 250px;
        margin: 10px 0 10px 15px;
    }
    .links a {
        font-size: 12px;
        width: 80px;
    }
    .navbar ul {
        gap: 0px;
    }
}
@media (max-width:830px) {
    .links {
        padding-left: 0;
    }
}
@media (max-width:600px) {
    .logo {
        padding-right: 20px;
        height: 35px;
        width: 110px;
        margin-left: 10px;
    }
    .links a {
        width: 45px;
    }
}

