.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    width: 400px;
    height: 120px;
    margin: 10px 50px;
}
ul li {
    display: flex;
    text-decoration-style: none;
    align-items: center;
    justify-content: center;
    width: 130px;
    list-style: none;
}
li {
    background-color: yellow;
    border-radius: 20px;
    cursor: pointer;
}
ul {
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}
.links {
    height: 40px;
}