.testimonials {
    height: 500px;
    background: linear-gradient(180deg, #4a5f58fa, rgb(255, 255, 255)  500%);
    padding: 80px;
}
.testimonials h1 {
    text-align: center;
    color: yellow;
    margin-bottom: 100px;
}
.star {
    margin: 10px 0 ;
    align-content: center;
}
#icon {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}
.profile-pic {
    display: flex;
}
.profile-pic h4 {
    margin: auto 0 10px 20px;
    color: yellow;
    font-size: 20px;
}
.feedback p {
    width: 75%;
    height: 150px;
    border-radius: 10px;
    color: white;
}
.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width:1320px) {
    .testimonials{
        padding: 0;
        height: 100%;
    }
    .testimonials h1 {
        padding: 15px 0;
        margin: 0;
    }
    .reviews {
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    .feedback p {
        height: 100px;
        width: 90%;
    }
    #icon {
        width: 75px;
        height: 75px;
    }
}
@media (max-width:760px) {
    .reviews {
        grid-template-columns: 1fr;
     }
     .feedback {
        margin-left: 15%;
     }
     .feedback p {
        height: 75px;
        width: 90%;
        font-size: 14px;
    }
}
@media (max-width:460px) {
    .feedback p {
        font-size: 12px;
    }
    #icon {
        width: 40px;
        height: 40px;
    }
}